doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='./app.css')
    title Kayako
  body
    #container
        #tweets
  script(src='http://code.jquery.com/jquery-3.1.1.min.js')
  script(src='./tweet/tweet.js')
  script(src='./app.js')